# Import COVID-19 Data cases from Thailand's Department of Decases Control

Data is available at https://data.go.th/en/dataset/covid-19-daily

## Import relevent packages

In [1]:
import os
import requests
import pandas as pd
from openpyxl import load_workbook

## Set working directory

In [2]:
os.chdir('D:\Dropbox (Vo Tat Thang)\[0][Master]Database\(1)Library_of_Data\Web-Scrap') # Provide the path here

## Set up URL

In [3]:
data_url = 'https://covid19.th-stat.com/api/open/cases'

## Get data from the server and convert to JSON format

In [4]:
response = requests.get(data_url)
response_json = response.json()
print('Last update: {}'.format(response_json['UpdateDate']))

Last update: 30/04/2020

### Extract data and save to Excel format

In [5]:
data_json = response_json['Data']

In [6]:
writer = pd.ExcelWriter(os.path.join("DATARAW", 'COVID19_Thailand.xlsx'), engine = 'openpyxl')

df1 = pd.DataFrame(data_json)
df1.to_excel(writer, index = False)

writer.save()
writer.close()

## Check crawl accuracy

In [12]:
df = pd.read_excel(os.path.join("DATARAW", 'COVID19_Thailand.xlsx'), nrows=150)
print(df.to_markdown())

|     | ConfirmDate         |   No |   Age | Gender   | GenderEn   | Nation   | NationEn   | Province      |   ProvinceId | District       | ProvinceEn               |   Detail |
|----:|:--------------------|-----:|------:|:---------|:-----------|:---------|:-----------|:--------------|-------------:|:---------------|:-------------------------|---------:|
|   0 | 2020-04-30 00:00:00 | 2954 |    15 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | nan            | Bangkok                  |      nan |
|   1 | 2020-04-30 00:00:00 | 2953 |    26 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | nan            | Bangkok                  |      nan |
|   2 | 2020-04-30 00:00:00 | 2952 |    21 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | nan            | Bangkok                  |      nan |
|   3 | 2020-04-30 00:00:00 | 2951 |    31 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|   4 | 2020-04-30 00:00:00 | 2950 |    19 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|   5 | 2020-04-30 00:00:00 | 2949 |    53 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|   6 | 2020-04-30 00:00:00 | 2948 |    29 | หญิง      | Female     | ไทย      | Thai       | กระบี่          |            2 | nan            | Krabi                    |      nan |
|   7 | 2020-04-29 00:00:00 | 2944 |    39 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | บางกะปิ         | Bangkok                  |      nan |
|   8 | 2020-04-29 00:00:00 | 2943 |    57 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | คลองสาน        | Bangkok                  |      nan |
|   9 | 2020-04-29 00:00:00 | 2939 |     8 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | เมือง           | Bangkok                  |      nan |
|  10 | 2020-04-29 00:00:00 | 2946 |    22 | หญิง      | Female     | ไทย      | Thai       | สมุทรปราการ    |           60 | nan            | Samut Prakan             |      nan |
|  11 | 2020-04-29 00:00:00 | 2945 |    30 | หญิง      | Female     | ไทย      | Thai       | สมุทรปราการ    |           60 | nan            | Samut Prakan             |      nan |
|  12 | 2020-04-29 00:00:00 | 2940 |    44 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|  13 | 2020-04-29 00:00:00 | 2941 |    62 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|  14 | 2020-04-29 00:00:00 | 2947 |    47 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต          |           42 | เมือง           | Phuket                   |      nan |
|  15 | 2020-04-29 00:00:00 | 2942 |    68 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|  16 | 2020-04-28 00:00:00 | 2938 |    25 | หญิง      | Female     | จีน       | Chinese    | กรุงเทพมหานคร  |            1 | พัฒนาการ        | Bangkok                  |      nan |
|  17 | 2020-04-28 00:00:00 | 2937 |    39 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | เมืองสมุทรปราการ | Bangkok                  |      nan |
|  18 | 2020-04-28 00:00:00 | 2936 |    50 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต          |           42 | nan            | Phuket                   |      nan |
|  19 | 2020-04-28 00:00:00 | 2935 |    20 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต          |           42 | nan            | Phuket                   |      nan |
|  20 | 2020-04-28 00:00:00 | 2934 |    23 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต          |           42 | nan            | Phuket                   |      nan |
|  21 | 2020-04-28 00:00:00 | 2933 |    37 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | nan            | Bangkok                  |      nan |
|  22 | 2020-04-28 00:00:00 | 2932 |    34 | หญิง      | Female     | ไทย      | Thai       | นครราชสีมา     |           21 | ขามทะเลสอ      | Nakhon Ratchasima        |      nan |
|  23 | 2020-04-27 00:00:00 | 2924 |    24 | ชาย      | Male       | ไทย      | Thai       | สุพรรณบุรี       |           67 | อู่ทอง           | Suphan Buri              |      nan |
|  24 | 2020-04-27 00:00:00 | 2931 |    18 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | บางคอแหลม      | Bangkok                  |      nan |
|  25 | 2020-04-27 00:00:00 | 2928 |    55 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  26 | 2020-04-27 00:00:00 | 2927 |    54 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  27 | 2020-04-27 00:00:00 | 2923 |    66 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|  28 | 2020-04-27 00:00:00 | 2929 |    34 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  29 | 2020-04-27 00:00:00 | 2930 |    16 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | บางเขน         | Bangkok                  |      nan |
|  30 | 2020-04-27 00:00:00 | 2926 |    62 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  31 | 2020-04-27 00:00:00 | 2925 |    12 | หญิง      | Female     | ไทย      | Thai       | ยะลา          |           47 | ยะหา           | Yala                     |      nan |
|  32 | 2020-04-26 00:00:00 | 2922 |    49 | ชาย      | Male       | ไทย      | Thai       | ชลบุรี          |            9 | สัตหีบ           | Chonburi                 |      nan |
|  33 | 2020-04-26 00:00:00 | 2921 |    45 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | วัฒนา           | Bangkok                  |      nan |
|  34 | 2020-04-26 00:00:00 | 2920 |    32 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | วัฒนา           | Bangkok                  |      nan |
|  35 | 2020-04-26 00:00:00 | 2919 |    42 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | วัฒนา           | Bangkok                  |      nan |
|  36 | 2020-04-26 00:00:00 | 2918 |    32 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | วัฒนา           | Bangkok                  |      nan |
|  37 | 2020-04-26 00:00:00 | 2917 |    66 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  38 | 2020-04-26 00:00:00 | 2916 |    32 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  39 | 2020-04-26 00:00:00 | 2915 |    60 | ชาย      | Male       | ไทย      | Thai       | นครปฐม        |           19 | บางเลน         | Nakhon Pathom            |      nan |
|  40 | 2020-04-26 00:00:00 | 2914 |    27 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | จตุจักร          | Bangkok                  |      nan |
|  41 | 2020-04-26 00:00:00 | 2913 |    36 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | หลักสี่           | Bangkok                  |      nan |
|  42 | 2020-04-26 00:00:00 | 2912 |    43 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | มีนบุรี           | Bangkok                  |      nan |
|  43 | 2020-04-26 00:00:00 | 2911 |    23 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|  44 | 2020-04-26 00:00:00 | 2910 |    57 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|  45 | 2020-04-26 00:00:00 | 2909 |    62 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|  46 | 2020-04-26 00:00:00 | 2908 |    43 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต          |           42 | ถลาง           | Phuket                   |      nan |
|  47 | 2020-04-25 00:00:00 | 2907 |    45 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  48 | 2020-04-25 00:00:00 | 2906 |    31 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  49 | 2020-04-25 00:00:00 | 2905 |    37 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  50 | 2020-04-25 00:00:00 | 2904 |    48 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  51 | 2020-04-25 00:00:00 | 2903 |    30 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  52 | 2020-04-25 00:00:00 | 2902 |    25 | ชาย      | Male       | เวียดนาม  | Vietnamese | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  53 | 2020-04-25 00:00:00 | 2901 |    18 | ชาย      | Male       | เวียดนาม  | Vietnamese | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  54 | 2020-04-25 00:00:00 | 2900 |    26 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  55 | 2020-04-25 00:00:00 | 2899 |    30 | หญิง      | Female     | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  56 | 2020-04-25 00:00:00 | 2898 |    29 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  57 | 2020-04-25 00:00:00 | 2897 |    31 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  58 | 2020-04-25 00:00:00 | 2896 |    28 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  59 | 2020-04-25 00:00:00 | 2895 |    18 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  60 | 2020-04-25 00:00:00 | 2894 |    56 | ชาย      | Male       | มาเลเซีย  | Malaysian  | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  61 | 2020-04-25 00:00:00 | 2893 |    32 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  62 | 2020-04-25 00:00:00 | 2892 |    16 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  63 | 2020-04-25 00:00:00 | 2891 |    18 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  64 | 2020-04-25 00:00:00 | 2890 |    32 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  65 | 2020-04-25 00:00:00 | 2889 |    28 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  66 | 2020-04-25 00:00:00 | 2888 |    20 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  67 | 2020-04-25 00:00:00 | 2887 |    43 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  68 | 2020-04-25 00:00:00 | 2886 |    27 | หญิง      | Female     | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  69 | 2020-04-25 00:00:00 | 2885 |    26 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  70 | 2020-04-25 00:00:00 | 2884 |    43 | ชาย      | Male       | อินเดีย    | Indian     | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  71 | 2020-04-25 00:00:00 | 2883 |    23 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  72 | 2020-04-25 00:00:00 | 2882 |    33 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  73 | 2020-04-25 00:00:00 | 2881 |    26 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  74 | 2020-04-25 00:00:00 | 2880 |    15 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  75 | 2020-04-25 00:00:00 | 2879 |    26 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  76 | 2020-04-25 00:00:00 | 2878 |    33 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  77 | 2020-04-25 00:00:00 | 2877 |    43 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  78 | 2020-04-25 00:00:00 | 2876 |     0 | หญิง      | Female     | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  79 | 2020-04-25 00:00:00 | 2875 |    45 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  80 | 2020-04-25 00:00:00 | 2874 |    49 | ชาย      | Male       | เยเมน    | nan        | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  81 | 2020-04-25 00:00:00 | 2873 |    29 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  82 | 2020-04-25 00:00:00 | 2872 |    38 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  83 | 2020-04-25 00:00:00 | 2871 |    33 | ชาย      | Male       | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  84 | 2020-04-25 00:00:00 | 2870 |    23 | หญิง      | Female     | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  85 | 2020-04-25 00:00:00 | 2869 |    18 | หญิง      | Female     | พม่า      | Burmese    | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  86 | 2020-04-25 00:00:00 | 2868 |    41 | ชาย      | Male       | มาเลเซีย  | Malaysian  | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  87 | 2020-04-25 00:00:00 | 2867 |    20 | ชาย      | Male       | กัมพูชา    | Cambodian  | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  88 | 2020-04-25 00:00:00 | 2866 |    51 | หญิง      | Female     | เวียดนาม  | Vietnamese | สงขลา         |           58 | สะเดา          | Songkhla                 |      nan |
|  89 | 2020-04-25 00:00:00 | 2865 |    80 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  90 | 2020-04-25 00:00:00 | 2864 |    63 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  91 | 2020-04-25 00:00:00 | 2863 |    41 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  92 | 2020-04-25 00:00:00 | 2862 |    42 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  93 | 2020-04-25 00:00:00 | 2861 |    54 | หญิง      | Female     | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  94 | 2020-04-25 00:00:00 | 2860 |    36 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  95 | 2020-04-25 00:00:00 | 2859 |    38 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
|  96 | 2020-04-25 00:00:00 | 2858 |    68 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | เมือง           | Bangkok                  |      nan |
|  97 | 2020-04-25 00:00:00 | 2857 |    22 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | บางแค          | Bangkok                  |      nan |
|  98 | 2020-04-25 00:00:00 | 2856 |    28 | ชาย      | Male       | ไทย      | Thai       | ชลบุรี          |            9 | พานทอง         | Chonburi                 |      nan |
|  99 | 2020-04-25 00:00:00 | 2855 |    60 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต          |           42 | เมือง           | Phuket                   |      nan |
| 100 | 2020-04-24 00:00:00 | 2854 |    15 | ชาย      | Male       | ไทย      | Thai       | ยะลา          |           47 | บันนังสตา        | Yala                     |      nan |
| 101 | 2020-04-24 00:00:00 | 2853 |    48 | หญิง      | Female     | ไทย      | Thai       | ยะลา          |           47 | เมือง           | Yala                     |      nan |
| 102 | 2020-04-24 00:00:00 | 2852 |     8 | หญิง      | Female     | ไทย      | Thai       | ยะลา          |           47 | เมือง           | Yala                     |      nan |
| 103 | 2020-04-24 00:00:00 | 2851 |    57 | หญิง      | Female     | ไทย      | Thai       | ยะลา          |           47 | เมือง           | Yala                     |      nan |
| 104 | 2020-04-24 00:00:00 | 2850 |    23 | หญิง      | Female     | ไทย      | Thai       | ปทุมธานี        |           29 | คลองหลวง       | Pathum Thani             |      nan |
| 105 | 2020-04-24 00:00:00 | 2849 |    27 | หญิง      | Female     | ไทย      | Thai       | สมุทรปราการ    |           60 | ลำลูกา          | Samut Prakan             |      nan |
| 106 | 2020-04-24 00:00:00 | 2848 |     1 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร  |            1 | จอมทอง         | Bangkok                  |      nan |
| 107 | 2020-04-24 00:00:00 | 2847 |    40 | ชาย      | Male       | อังกฤษ    | English    | กรุงเทพมหานคร  |            1 | วัฒนา           | Bangkok                  |      nan |

## Reference
1. https://stackoverflow.com/questions/12965203/how-to-get-json-from-webpage-into-python-script
2. https://stackoverflow.com/questions/15008970/way-to-read-first-few-lines-for-pandas-dataframe