# Import COVID-19 Data cases from Thailand's Department of Decases Control

The result of this script is the raw COVID-19 cases data from Thailand Department of Decease Control. The data will be cleaned in STATA in the next step.

Data is available at https://data.go.th/en/dataset/covid-19-daily

## Import relevent packages

In [1]:
import os
import requests
import pandas as pd
from openpyxl import load_workbook

## Set working directory

In [2]:
#os.chdir(r'C:\Users\NXDin\Dropbox (Vo Tat Thang)\[0][Master]Database\(1)Library_of_Data\Web-Scrap') # Provide the path here
os.chdir('D:\Dropbox (Vo Tat Thang)\[0][Master]Database\(1)Library_of_Data\Web-Scrap') # Provide the path here

## Set up URL

In [3]:
data_url = 'https://covid19.th-stat.com/api/open/cases'

## Get data from the server and convert to JSON format

In [4]:
response = requests.get(data_url)
response_json = response.json()
print('Last update: {}'.format(response_json['UpdateDate']))

Last update: 23/05/2020

### Extract data and save to Excel format

In [5]:
data_json = response_json['Data']

In [6]:
writer = pd.ExcelWriter(os.path.join("DATARAW", 'COVID19_Thailand.xlsx'), engine = 'openpyxl')

df1 = pd.DataFrame(data_json)
df1.to_excel(writer, index = False)

writer.save()
writer.close()

## Check crawl accuracy

In [7]:
df = pd.read_excel(os.path.join("DATARAW", 'COVID19_Thailand.xlsx'), nrows=10)
display(df)

,ConfirmDate,No,Age,Gender,GenderEn,Nation,NationEn,Province,ProvinceId,District,ProvinceEn,Detail,StatQuarantine
0,2020-05-23 00:00:00,3040,24,ชาย,Male,ไทย,Thai,ชลบุรี,9,บางละมุง,Chonburi,NaN,1
1,2020-05-23 00:00:00,3039,43,หญิง,Female,ไทย,Thai,ชลบุรี,9,บางละมุง,Chonburi,NaN,1
2,2020-05-23 00:00:00,3038,49,ชาย,Male,อิตาลี,Italian,ภูเก็ต,42,ถลาง,Phuket,NaN,0
3,2020-05-21 00:00:00,3037,25,หญิง,Female,ไทย,Thai,ชลบุรี,9,บางละมุง,Chonburi,NaN,1
4,2020-05-21 00:00:00,3036,42,ชาย,Male,เยอรมัน,German,กรุงเทพมหานคร,1,พระโขนง,Bangkok,NaN,0
5,2020-05-21 00:00:00,3035,72,ชาย,Male,ไทย,Thai,กรุงเทพมหานคร,1,ห้วยขวาง,Bangkok,NaN,0
6,2020-05-20 00:00:00,3034,45,ชาย,Male,ไทย,Thai,กรุงเทพมหานคร,1,ราชเทวี,Bangkok,NaN,1
7,2020-05-19 00:00:00,3033,36,หญิง,Female,ไทย,Thai,นราธิวาส,25,แว้ง,Narathiwat,NaN,0
8,2020-05-19 00:00:00,3032,42,ชาย,Male,ไทย,Thai,นราธิวาส,25,แว้ง,Narathiwat,NaN,0
9,2020-05-18 00:00:00,3031,27,หญิง,Female,ไทย,Thai,ภูเก็ต,42,กระทู้,Phuket,NaN,0

## Reference
1. https://stackoverflow.com/questions/12965203/how-to-get-json-from-webpage-into-python-script
2. https://stackoverflow.com/questions/15008970/way-to-read-first-few-lines-for-pandas-dataframe