# Import COVID-19 Data cases from Thailand's Department of Decases Control

The result of this script is the raw COVID-19 cases data from Thailand Department of Decease Control. The data will be cleaned in STATA in the next step.

Data is available at https://data.go.th/en/dataset/covid-19-daily

## Import relevent packages

In [1]:
import os
import requests
import pandas as pd
from openpyxl import load_workbook

## Set working directory

In [2]:
os.chdir('D:\Dropbox (Vo Tat Thang)\[0][Master]Database\(1)Library_of_Data\Web-Scrap') # Provide the path here

## Set up URL

In [3]:
data_url = 'https://covid19.th-stat.com/api/open/cases'

## Get data from the server and convert to JSON format

In [4]:
response = requests.get(data_url)
response_json = response.json()
print('Last update: {}'.format(response_json['UpdateDate']))

Last update: 02/05/2020

### Extract data and save to Excel format

In [5]:
data_json = response_json['Data']

In [6]:
writer = pd.ExcelWriter(os.path.join("DATARAW", 'COVID19_Thailand.xlsx'), engine = 'openpyxl')

df1 = pd.DataFrame(data_json)
df1.to_excel(writer, index = False)

writer.save()
writer.close()

## Check crawl accuracy

In [7]:
df = pd.read_excel(os.path.join("DATARAW", 'COVID19_Thailand.xlsx'), nrows=50)
print(df.to_markdown())

|    | ConfirmDate         |   No |   Age | Gender   | GenderEn   | Nation   | NationEn   | Province     |   ProvinceId | District       | ProvinceEn        |   Detail |
|---:|:--------------------|-----:|------:|:---------|:-----------|:---------|:-----------|:-------------|-------------:|:---------------|:------------------|---------:|
|  0 | 2020-05-02 00:00:00 | 2966 |    52 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | พระนคร         | Bangkok           |      nan |
|  1 | 2020-05-02 00:00:00 | 2965 |    52 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร |            1 | ดินแดง          | Bangkok           |      nan |
|  2 | 2020-05-02 00:00:00 | 2964 |    21 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
|  3 | 2020-05-02 00:00:00 | 2963 |    58 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
|  4 | 2020-05-02 00:00:00 | 2962 |    22 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | nan            | Bangkok           |      nan |
|  5 | 2020-05-02 00:00:00 | 2961 |    48 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
|  6 | 2020-05-01 00:00:00 | 2960 |    39 | หญิง      | Female     | ไทย      | Thai       | ยะลา         |           47 | บันนังสะตา       | Yala              |      nan |
|  7 | 2020-05-01 00:00:00 | 2959 |    54 | หญิง      | Female     | ไทย      | Thai       | ยะลา         |           47 | บันนังสะตา       | Yala              |      nan |
|  8 | 2020-05-01 00:00:00 | 2958 |    21 | หญิง      | Female     | ไทย      | Thai       | ยะลา         |           47 | บันนังสะตา       | Yala              |      nan |
|  9 | 2020-05-01 00:00:00 | 2957 |    23 | หญิง      | Female     | ไทย      | Thai       | ยะลา         |           47 | บันนังสะตา       | Yala              |      nan |
| 10 | 2020-05-01 00:00:00 | 2956 |    47 | หญิง      | Female     | ไทย      | Thai       | ยะลา         |           47 | บันนังสตา        | Yala              |      nan |
| 11 | 2020-05-01 00:00:00 | 2955 |    64 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร |            1 | บึงกุ่ม           | Bangkok           |      nan |
| 12 | 2020-04-30 00:00:00 | 2954 |    15 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร |            1 | nan            | Bangkok           |      nan |
| 13 | 2020-04-30 00:00:00 | 2953 |    26 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร |            1 | nan            | Bangkok           |      nan |
| 14 | 2020-04-30 00:00:00 | 2952 |    21 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร |            1 | nan            | Bangkok           |      nan |
| 15 | 2020-04-30 00:00:00 | 2951 |    31 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
| 16 | 2020-04-30 00:00:00 | 2950 |    19 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
| 17 | 2020-04-30 00:00:00 | 2949 |    53 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
| 18 | 2020-04-30 00:00:00 | 2948 |    29 | หญิง      | Female     | ไทย      | Thai       | กระบี่         |            2 | nan            | Krabi             |      nan |
| 19 | 2020-04-29 00:00:00 | 2944 |    39 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร |            1 | บางกะปิ         | Bangkok           |      nan |
| 20 | 2020-04-29 00:00:00 | 2943 |    57 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | คลองสาน        | Bangkok           |      nan |
| 21 | 2020-04-29 00:00:00 | 2939 |     8 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | เมือง           | Bangkok           |      nan |
| 22 | 2020-04-29 00:00:00 | 2946 |    22 | หญิง      | Female     | ไทย      | Thai       | สมุทรปราการ   |           60 | nan            | Samut Prakan      |      nan |
| 23 | 2020-04-29 00:00:00 | 2945 |    30 | หญิง      | Female     | ไทย      | Thai       | สมุทรปราการ   |           60 | nan            | Samut Prakan      |      nan |
| 24 | 2020-04-29 00:00:00 | 2940 |    44 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
| 25 | 2020-04-29 00:00:00 | 2941 |    62 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
| 26 | 2020-04-29 00:00:00 | 2947 |    47 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต         |           42 | เมือง           | Phuket            |      nan |
| 27 | 2020-04-29 00:00:00 | 2942 |    68 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
| 28 | 2020-04-28 00:00:00 | 2938 |    25 | หญิง      | Female     | จีน       | Chinese    | กรุงเทพมหานคร |            1 | พัฒนาการ        | Bangkok           |      nan |
| 29 | 2020-04-28 00:00:00 | 2937 |    39 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | เมืองสมุทรปราการ | Bangkok           |      nan |
| 30 | 2020-04-28 00:00:00 | 2936 |    50 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต         |           42 | nan            | Phuket            |      nan |
| 31 | 2020-04-28 00:00:00 | 2935 |    20 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต         |           42 | nan            | Phuket            |      nan |
| 32 | 2020-04-28 00:00:00 | 2934 |    23 | ชาย      | Male       | ไทย      | Thai       | ภูเก็ต         |           42 | nan            | Phuket            |      nan |
| 33 | 2020-04-28 00:00:00 | 2933 |    37 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | nan            | Bangkok           |      nan |
| 34 | 2020-04-28 00:00:00 | 2932 |    34 | หญิง      | Female     | ไทย      | Thai       | นครราชสีมา    |           21 | ขามทะเลสอ      | Nakhon Ratchasima |      nan |
| 35 | 2020-04-27 00:00:00 | 2924 |    24 | ชาย      | Male       | ไทย      | Thai       | สุพรรณบุรี      |           67 | อู่ทอง           | Suphan Buri       |      nan |
| 36 | 2020-04-27 00:00:00 | 2931 |    18 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร |            1 | บางคอแหลม      | Bangkok           |      nan |
| 37 | 2020-04-27 00:00:00 | 2928 |    55 | ชาย      | Male       | ไทย      | Thai       | ยะลา         |           47 | บันนังสตา        | Yala              |      nan |
| 38 | 2020-04-27 00:00:00 | 2927 |    54 | ชาย      | Male       | ไทย      | Thai       | ยะลา         |           47 | บันนังสตา        | Yala              |      nan |
| 39 | 2020-04-27 00:00:00 | 2923 |    66 | หญิง      | Female     | ไทย      | Thai       | ภูเก็ต         |           42 | ถลาง           | Phuket            |      nan |
| 40 | 2020-04-27 00:00:00 | 2929 |    34 | ชาย      | Male       | ไทย      | Thai       | ยะลา         |           47 | บันนังสตา        | Yala              |      nan |
| 41 | 2020-04-27 00:00:00 | 2930 |    16 | ชาย      | Male       | ไทย      | Thai       | กรุงเทพมหานคร |            1 | บางเขน         | Bangkok           |      nan |
| 42 | 2020-04-27 00:00:00 | 2926 |    62 | ชาย      | Male       | ไทย      | Thai       | ยะลา         |           47 | บันนังสตา        | Yala              |      nan |
| 43 | 2020-04-27 00:00:00 | 2925 |    12 | หญิง      | Female     | ไทย      | Thai       | ยะลา         |           47 | ยะหา           | Yala              |      nan |
| 44 | 2020-04-26 00:00:00 | 2922 |    49 | ชาย      | Male       | ไทย      | Thai       | ชลบุรี         |            9 | สัตหีบ           | Chonburi          |      nan |
| 45 | 2020-04-26 00:00:00 | 2921 |    45 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | วัฒนา           | Bangkok           |      nan |
| 46 | 2020-04-26 00:00:00 | 2920 |    32 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | วัฒนา           | Bangkok           |      nan |
| 47 | 2020-04-26 00:00:00 | 2919 |    42 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | วัฒนา           | Bangkok           |      nan |
| 48 | 2020-04-26 00:00:00 | 2918 |    32 | หญิง      | Female     | ไทย      | Thai       | กรุงเทพมหานคร |            1 | วัฒนา           | Bangkok           |      nan |
| 49 | 2020-04-26 00:00:00 | 2917 |    66 | ชาย      | Male       | ไทย      | Thai       | ยะลา         |           47 | บันนังสตา        | Yala              |      nan |

## Reference
1. https://stackoverflow.com/questions/12965203/how-to-get-json-from-webpage-into-python-script
2. https://stackoverflow.com/questions/15008970/way-to-read-first-few-lines-for-pandas-dataframe